body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 56, 56);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*flex-wrap will make stuff shrink depending on window size*/

/*rule paper pattern for bg*/
:root {
  --bg-color: #fff;
  --margin-line-color: #ec7063;
  --ruling-line-color: #85c1e9;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.ruled-paper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.ruled-paper .ruled-paper-header {
  background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px);
  background-size: 100% 1.2em;
  flex-grow: 1;
}

.ruled-paper .ruled-paper-body {
  background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px), linear-gradient(var(--ruling-line-color) .1em, transparent .1em);
  background-size: 100% 1.2em;
  flex-grow: 8;
  padding-top: .2rem;
  padding-left: 6rem;
  line-height: 1.2;
}





header h1 {
    text-align: center;
    padding: 10px;
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
}

article > h2 {
    color: grey;
    padding: 4px 8px;
}

article:first-of-type {
    /*border: 4px solid grey; if you're changing all three. will overwrite article*/
    border-color:grey;
}

#inprogress {
    border-color: red;
}

#inprogress h2 {
    color: red;
}

#done {
    border-color: green;
}

#done h2 {
    color: green;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}