@font-face {
  font-family: 'typewriter-thin';
  src: url('../fonts/JMH-Typewriter-Thin.ttf') format('truetype');
}

body {
    font-size: 16px;
    font-family: 'typewriter-thin';
    color: rgb(47, 14, 136);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
/*flex-wrap will make stuff shrink depending on window size*/

/*rule paper pattern for bg*/
:root {
  --bg-color: #feffed;
  --margin-line-color: #ec7063;
  --ruling-line-color: #85c1e9;
}

/*is this needed?*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.ruled-paper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.ruled-paper .ruled-paper-header {
  background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px);
  background-size: 100% 1.2em;
  flex-grow: 1;
}

.ruled-paper .ruled-paper-body {
  background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px), linear-gradient(var(--ruling-line-color) .1em, transparent .1em);
  background-size: 100% 2em;
  flex-grow: 8;
  padding-top: .2rem;
  padding-left: 6rem;
  line-height: 2em;
}



header h1 {
    text-align: center;
    padding: 10px;
}

header h1::before {

    padding: 10px;
    content: "";
    position: absolute;
    Top: 55px;
    width: 300px;
    height: 19px;
    transform: skew(-12deg) translateY(0%);
    background: rgba(255, 221, 3, 0.4);
}

article {
    width: 400px;
    height: 500px;
    border: 4px solid rgb(51, 37, 37);
    border-radius: 10px;
}

article > h2 {
    color: rgb(24, 65, 232);
    padding: 9px 8px;
}

article h2::before {
    padding: 10px;
    content: "";
    position: absolute;
    Top: 159px;
    width: 150px;
    height: 19px;
    transform: skew(-12deg) translateY(0%);
    background: rgba(255, 221, 3, 0.3);
}

/*article:first-of-type {border: 4px solid grey; if you're changing all three. will overwrite article*/

#todo {
    border-radius: 255px 15px 225px 33px/15px 225px 75px 255px;
    border:dashed 5px rgb(0, 19, 227);
}
#inprogress {
    border-radius: 235px 15px 25px 15px/15px 25px 75px 55px;
    border-color: red;
}

#inprogress h2 {
    color: rgb(138, 94, 94);
}

#done {
    border-radius: 345px 15px 225px 125px/4px 225px 15px 255px;
    border:dotted 5px rgb(9, 68, 0);
}

#done h2 {
    color: green;
}

ul {
    list-style-type: none;
}

ul li {
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(82, 191, 255, 0.2);
}

.todo li:nth-child(even) {
    background-color: rgba(114, 82, 255, 0.2);
}


.inprogress li:nth-child(odd) {
    background-color: rgba(255, 128, 229, 0.5);
}

.inprogress li:nth-child(even) {
    background-color: rgba(255, 148, 54, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.3);
}

.done li:nth-child(even) {
    background-color: rgba(226, 255, 41, 0.5);
}


input[type="checkbox"]:checked {
    text-decoration: line-through;
    color: red;
}

/*
- Why checkbox doesn't change
- Does the ToDo part of list need checkboxes?
- How to make the sections more separate?
